html
	head
		title Code Name: Soap Friendship
		script(src="/framework/jsGFwk.js")
		script(src="/framework/jsGFwk2dFastAnimation.js")
		script(src="/framework/jsGFwkContainer.js")
		script(src="/framework/jsGFwkIO.js")
		script(src="/framework/jsGFwkCollisions.js")
		script(src="/framework/jsGFwkRM.js" )
		script(src="/framework/jsGFwkSprites.js")
		script(src="/framework/jsGFwkFonts.js")
		script(src="/framework/jsGFwkScenes.js")
		script(src="/framework/jsGFwkPath.js")
		script(src="/framework/jsGFwkTimers.js")
		script(src="/framework/jsGFwkJukebox.js")
		script(src="/scripts/bagofcats.js")
		script(src="/scripts/background.js")
		script(src="/scripts/hud.js")
		script(src="/scripts/playerController.js")
		script(src="/scripts/player.js")
		script(src="/scripts/init.js")
	body(class="body")
		canvas(width="640" height="480" id="canvas")